body{background:#eee;font-family: arial;padding:0;margin:0;}

.header{padding-left:4em;}
.search{padding-left:2em;}
input{border-radius:4px;border:1px solid #ccc;padding:0.3em;font-size:1.1em;}
.submit-btn{background:#2D6580;color:#eee;}
.submit-btn:hover{cursor:pointer;background:#19516C;transition: background-color .5s;color:#eee;}

.pagination{padding:2em 2em 0.5em 2em;}
.pagination button{display:inline;background:#2D6580;color:#eee;border-radius:4px;border:1px solid #ccc;padding:0.3em;font-size: 1.1em;}
.pagination button:hover{cursor:pointer;background:#19516C;transition: background-color .5s;color:#eee;}
.pagination input{width:80px;}

.photo-cell{display:inline-block;;border:1px solid #999;border-radius:6px;padding:1em;}
.photo-cell div{display:block;}
.photo-cell:hover{cursor:pointer;background:#7F462C;transition: background-color 1s}

.photo-container{background: #999;padding:2em;margin-top:1em;}
.result-info{font-size:0.9em;color:#888;padding-left:1.6em;}